<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <div>Hello world!</div>
        <form id="triggerform" method="post" action="/getTime">
            <button type="submit" class="btn btn-default">Refresh time</button>
        </form>
        <p class="form-control-static" th:text="${time != null} ? ${time.getTime} : 'Null time!'">
            Time is:
        </p>
    </div>
</div>
</body>
</html>